html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    background-color: #c5c5c5;
}

/*内部视图*/
.insideView {
    float: left;
    box-sizing: border-box;
    width: 15%;
    height: 800px;
    padding: 5px;
    background-color: #424242;
    margin: 10px 10px 10px 10px;
}
.elevator {
    position: relative;
    background-color: #424242;
    width: 100%;
    height:100%;
    
}
p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.elevator>p {
    font-size: 2rem;
    line-height: 460px;
    font-family: Segoe, Roboto, Helvetica, "Microsoft YaHei", Arial, sans-serif;
    color: #424242;    
    /*color: #22234B;*/
}
.door {
    position: absolute;
    bottom: 0%;
    width: 15%;
    height: 5%;
    background-color: #a7a7a7;
    transition: all 1s ease-in-out;
    
}
/* Close:150 Open:0 */
.leftdoor {
    left: 15%;
    border-right: 1px solid #5f5f5f;
}
/* Close:350 Open:500 */
.rightdoor {
    left: 30%;
    border-left: 1px solid #262626;
}
.panel {
    position: absolute;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: #969696;
}
.leftpanel {
    box-sizing: border-box;
    left: 0;
    width: 10%
    padding: 20px;
    box-shadow: 2px 0 2px 0 #333;
}
.floorNumber {
    border: 0.1px solid #262626;
    width: 100%;
    height: 39.3px;
    line-height: 39.3px;
    font-size: 0.5em;
    margin-left: 1px;
    font-family: Segoe, Roboto, Helvetica, "Microsoft YaHei", Arial, sans-serif;

}
.rightpanel {
    box-sizing: border-box;
    width:55%;
    left: 45%;
    box-shadow: -2px 0 2px 0 #333;
}
.screen {
    width: 80%;
    height: 14%;
    margin:10% 10% 10% 10%;
    background-color: #252525;
} 
.updownlight {
    padding: 5px 40% 5px 40%;
    color:  #3a3a3a
}
.updownlight .turnon{
    color:white
}
.floorOnScreen {
    color: #cacaca;
    font-size: 3em;
    font-family: Segoe, Roboto, Helvetica, "Microsoft YaHei", Arial, sans-serif;
/*    line-height: 155px;*/
}
.button {
    float: left;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid #262626;
    border-radius: 20px;
    margin: 20% 0 0% 15%;
    color: #262626;
    font-family: Segoe, Roboto, Helvetica, "Microsoft YaHei", Arial, sans-serif;
    text-align: center;
    line-height: 30px;
}
.button:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}
.button.pressed {
    background-color: #FFF;
}

/*外部视图*/
#outsideView {
    color: #000000;
    float: left;
    box-sizing: border-box;
    width: 10%;
    height: 800px;
    padding: 5px;
    background-color: #9ea3a9;
    margin: 10px 10px 10px 10px;
}

#outsideUpDownButtons {
    margin-left: 7px;
    width: 100%;
    font-family: Segoe, Roboto, Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

#outsideUpDownButtons td {
    font-size: 0.8rem;
    line-height: 29px;
}
.floor .button {
    color: #585858;
    width: 29px;
    height: 29px;
    line-height: 29px;
    margin: 4% 5% 5% 4%;
}
.floor .button.on{
    color:white;
}
