html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    background-color: #141517;
}
#outsideView {
    float: left;
    box-sizing: border-box;
    width: 440px;
    height: 540px;
    padding: 20px;
    background-color: #1D1F21;
    margin: 20px 10px 20px 20px;
}
#insideView {
    float: left;
    box-sizing: border-box;
    width: 740px;
    height: 540px;
    padding: 20px;
    background-color: #1D1F21;
    margin: 20px 20px 20px 10px;
}

/* Outside View */
#indicator {
    list-style: none;
    border: 1px solid #47484B;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center
}
#indicator li {
    display: inline;
    color: #47484B;
    font-family: Segoe, Roboto, Helvetica, "Microsoft YaHei", Arial, sans-serif;
}
#indicator li.current {
    color: #FFF;
}
#bell {
    width: 100%;
    font-family: Segoe, Roboto, Helvetica, "Microsoft YaHei", Arial, sans-serif;
}
#bell a {
    text-decoration: none;
    color: #47484B;
}
#bell a.on {
    color: #FFF;
    text-decoration: none;
}
#bell a:hover {
    text-decoration: underline;
}
#bell tr:hover {
    background-color: #27292c;
}
#bell td {
    width: 25%;
    padding: 0;
    color: #47484B;
    /*color: #77384B;*/
    font-size: 1rem;
    line-height: 1.8em;
}
#bell tr td:first-child {
    color: #FFF;
    /*color: #F6F;*/
}
#bell tr:last-child td{
    border-top: 1px solid #47484B;
    /*border-top: 1px solid #24484B;*/
}

/* Indise View */
#elevator {
    position: relative;
    background-color: #141517;
    /*background-color: #222247;*/
    width: 100%;
    height:100%;
    
}
p {
    margin: 0;
    padding: 0;
    text-align: center;
}
#elevator>p {
    font-size: 2rem;
    line-height: 460px;
    font-family: Segoe, Roboto, Helvetica, "Microsoft YaHei", Arial, sans-serif;
    color: #47484B;    
    /*color: #22234B;*/
}
.door {
    position: absolute;
    top: 0;
    width: 200px;
    height: 500px;
    background-color: #47484B;
    transition: all 2s ease-in-out;
    
}
/* Close:150 Open:0 */
#leftdoor {
    left: 150px;
    border-right: 1px solid #262626;
}
/* Close:350 Open:500 */
#rightdoor {
    left: 350px;
    border-left: 1px solid #262626;
}
.panel {
    position: absolute;
    top: 0;
    width: 150px;
    height: 500px;
    background-color: #47484B;
}
#leftpanel {
    box-sizing: border-box;
    left: 0;
    padding: 20px;
    box-shadow: 10px 0 10px 0 #333;
}
#rightpanel {
    box-sizing: border-box;
    left: 550px;
    box-shadow: -10px 0 10px 0 #333;
}
#screen {
    width: 110px;
    height: 110px;
    margin-bottom: 20px;
    background-color: #262626;
}
#floorOnScreen {
    color: #616267;
    font-size: 3em;
    font-family: Segoe, Roboto, Helvetica, "Microsoft YaHei", Arial, sans-serif;
    line-height: 110px;
}
.button {
    float: left;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid #262626;
    border-radius: 20px;
    margin: 0 0 10px 15px;
    color: #262626;
    font-family: Segoe, Roboto, Helvetica, "Microsoft YaHei", Arial, sans-serif;
    text-align: center;
    line-height: 28px;
}
.button:hover {
    cursor: pointer;
    background-color: #525458;
}
.button.pressed {
    background-color: #FFF;
}